<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business in the Parliament</title>
    <link rel="stylesheet" href="@Context.Request.Scheme://@Context.Request.Host@Context.Request.PathBase/css/main.css">
    <link rel="stylesheet" href="@Context.Request.Scheme://@Context.Request.Host@Context.Request.PathBase/css/bootstrap.min.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Business in the Parliament</h1>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="container">
            <h6>UK Parliament</h6>
        </div>
    </footer>
    <script src="@Context.Request.Scheme://@Context.Request.Host@Context.Request.PathBase/js/main.js"></script>
</body>
</html>
